.first_unit {
    position: absolute;
    background-color: red;
    width: 30%;
    height: 60%;
    z-index: 1;
    left: 5%;
    top: 5%;
 }
 .second_unit {
     position: absolute;
     background-color: rgb(9, 255, 0);
     width: 30%;
     height: 60%;
     z-index: 3;
     left: 20%;
     top: 20%;
  }
  .third_unit {
     position: absolute;
     background-color:blue;
     width: 30%;
     height: 60%;
     z-index: 2;
     left: 35%;
     top: 35%;
  }